@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700;900&display=swap");

/* Global Styles */

body {
    font-family: "Work Sans", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
}

h1 {
    font-size: 2.5rem;
    font-weight: 900;
}

.btn {
    background-color: aqua;
    padding: 20px 30px;
    border-radius: 25px;
}

/* Banner ---- Navbar Styles  */

#banner .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
    padding: 10px 140px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 999;
}

#banner .navbar .logo-container {
    display: flex;
    align-items: center;
}

#banner .navbar .logo {
    display: block;
    margin-right: 10px;
    width: 50px;
}

#banner .navbar .menu-right {
    display: flex;
    align-items: center;
}

#banner .navbar .menu-right .menu-options {
    display: flex;
    align-items: center;
}

#banner .navbar .menu-item {
    margin-right: 20px;
}

#banner .navbar .follow-container {
    display: flex;
    align-items: center;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
}

#banner .navbar .follow-container .follow {
    margin-right: 10px;
}

/* Banner ---- Home Banner Styles  */

#banner .home-banner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding-top: 80px;
}

#banner .home-banner .left h2 {
    font-size: 60px;
    font-weight: 900;
}

#banner .home-banner .left h3 {
    font-size: 40px;
    font-weight: 700;
}

#banner .home-banner li {
    display: flex;
    padding: 10px 0;
}

#banner .home-banner .play-btn-container {
    margin-top: 40px;
    color: #fff;
}

#banner .home-banner .iconify {
    display: inline-block;
    margin-right: 10px;
    color: tomato;
}

/* Featured Videos  */

section#featured {
    padding: 100px 0;
    text-align: center;
}

section#featured h2 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 50px;
}

section#featured .featured-text {
    text-align: center;
    width: 40%;
    margin: 0 auto;
}

section#featured .featured-images {
    /* display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px; */
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
}

section#featured .featured-images figure {
    position: relative;
    text-align: center;
}

section#featured .featured-images .figure-container {
    display: flex;
    flex-direction: column;
}

section#featured .featured-images figcaption {
    font-size: 12px;
    margin-top: 30px;
    font-weight: 400;
    text-align: left;
}

section#featured .featured-images figure img {
    width: 100%;
}

section#featured .watch-now-container {
    position: absolute;
    width: 340px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

/* Show on hover */

section#featured .featured-images figure:hover + .watch-now-container {
    display: flex;
}

/* Poster 1  */

#poster-1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px 100px;
    margin-bottom: 100px;
}

#poster-1 .left {
    position: relative;
    width: 50%;
}

#poster-1 .left h3 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

#poster-1 .left p {
    font-size: 14px;
    font-weight: 400;
    width: 50%;
}

#poster-1 .right {
    position: relative;
    width: 50%;
}

#poster-1 .large-img {
}

#poster-1 .small-img {
    position: absolute;
    bottom: -20%;
    left: -20%;
}

/* Category/Tag Section */

#category .c-top {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#category .c-bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.c-top .c-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-bottom .c-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ================Media Query for Mobile Device======== */

@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.2rem;
        font-weight: 900;
    }

    /* Navbar Styles  */
    #banner .navbar {
        display: block;
        text-align: center;
        justify-content: center;
    }

    #banner .navbar .logo-container {
        display: flex;
        align-items: center;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
    }

    #banner .navbar .menu-right {
        display: block;
        width: 100%;
    }

    #banner .navbar .menu-right .menu-options {
        display: block;
        width: 100%;
    }

    #banner .navbar .follow-container {
        width: 200px;
        margin: 0 auto;
    }

    #banner .navbar .menu-item {
        margin-bottom: 20px;
    }

    /* Home Banner Styles */

    #banner .home-banner {
        flex-direction: column;
        padding: 240px 50px;
    }

    #banner .home-banner .right {
        order: -1;
        padding-bottom: 50px;
    }

    section#featured .featured-images {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
        gap: 50px;
    }
}
